.toc {
  margin: 16px 0;
  padding: 8px 4px 10px;
  border: 1px solid var(--color-text-primary);
  border-radius: 5px;
}

.toc__summary {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.toc__summary::marker {
  content: "";
}

.toc__list {
  padding: 10px 10px 0;
  display: grid;
  row-gap: 10px;
  list-style: none;
}