.breadcrumbs {
  width: 100%;
  display: flex;
  padding-top: 10px;
  padding-bottom: 0px;
}

.list {
  display: flex;
  list-style-type: none;
}

@media (width >= 780px) {
  .breadcrumbs {
    padding-top: 12px;
    padding-bottom: 8px;
  }
}