.content {
  display: grid;
  row-gap: 12px;
}

.content ul {
  padding: 0 40px;
  list-style-type: "—  ";
}

.content h2 {
  padding-top: 116px;
  margin-top: -94px;
  font-size: 2.2rem;
  font-weight: 600;
	-webkit-background-clip: content-box;
	background-clip: content-box;
}
